<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D308Project">

        <!-- ✅ ALERT RECEIVER -->
        <receiver
            android:name=".ui.MyReceiver"
            android:exported="false" />

        <!-- ✅ LOGIN (NEW LAUNCH SCREEN) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ EXISTING SCREENS -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="Main Activity" />

        <activity
            android:name=".ui.VacationList"
            android:exported="false"
            android:label="Vacation List"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.VacationDetails"
            android:exported="false"
            android:label="Vacation Details and Excursions List"
            android:parentActivityName=".ui.VacationList" />

        <activity
            android:name=".ui.ExcursionDetails"
            android:exported="false" />

        <!-- (Optional) Search screen if you add one -->
        <!--
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false" />
        -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>